// Variables


// Colors 

$main-color: #777;
$link-color: #51ddfc;
$white-color: #fff;
$greenish: #58e1c1;
$red-color: #fd7856;

// Breakpoints

$breakpoints: ('s': 576px, 'm': 768px, 'l': 1024px,);


