/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

  
  .default {
    @include bgc-with-hover (#51ddfc);  
  }
  
  .error {
    @include bgc-with-hover (#e4757a);
  }
  
  .info {
    @include bgc-with-hover (#927bc1);
  }
  
  .success {
    @include bgc-with-hover (#63cc82);
  }
  
  .warning {
    @include bgc-with-hover ($red-color);
  }